{% extends 'quotes/base.html' %}
{% load extract %}

{% block content %}

<div class="row">
    <div class="col-md-8">
    {% for quote in quotes %}
    <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
        <span class="text" itemprop="text">
            {{ quote.quote }}
        </span>
        <span>by <small class="author" itemprop="author">{{ quote.author }}</small>
        <a href="/author/{{ quote.author_id }}">(about)</a>
        </span>
        <div class="tags">
            {% for tag in quote.tags.all %}
            <a class="tag" href="/tags/{{ tag.name }}">{{ tag.name }}</a>
            {% endfor %}
        </div>
    </div>

    {% endfor %}
    
    <nav>
        <ul class="pager">
            <li class="previous">
            {% if quotes.has_previous %}
                <a href="{{ quotes.previous_page_number }}"><span aria-hidden="true">←</span> Previous</a>
            {% endif %}
            </li>
    
            <span class="current">
                Page {{ quotes.number }} of {{ quotes.paginator.num_pages }}
            </span>
            
            <li class="next">
            {% if quotes.has_next %}
                <a href="{{ quotes.next_page_number }}"><span aria-hidden="true">→</span>Next</a>
            {% endif %}
            </li>
        </ul>
    </nav>
    </div>

</div>

{% endblock %}

