{% extends 'quotes/base.html' %}
{% load extract %}

{% block content %}

<div class="row">
    <h2>Viewing tag: {{ tag }}</h2>
</div>

<div class="row">
    <div class="col-md-8">
    {% for quote in quotes_by_tag %}
    <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
        <span class="text" itemprop="text">
            {{ quote.quote }}
        </span>
        <span>by <small class="author" itemprop="author">{{ quote.author }}</small>
        <a href="/author/{{ quote.author_id }}">(about)</a>
        </span>
        <div class="tags">
            {% for tag in quote.tags.all %}
            <a class="tag" href="/tags/{{ tag.name }}">{{ tag.name }}</a>
            {% endfor %}
        </div>
    </div>

    {% endfor %}

    </div>

</div>

{% endblock %}